<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kampfsportvereinverwaltung.My.MySettings.ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\mofri\OneDrive\Desktop\Nina DBS2\kampfsportverein\Kampfsportverein\Kampfsportverein_DB\Kampfsport_DB.accdb&quot;;Persist Security Info=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
